.header {
    grid-area: 1/1/2/12;
    height: 50px;
    background-color: white;
    padding: 10px 0;
    a {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        img {
            width: auto;
            height: 100%;
            object-fit: contain;
        }
    }
}