.wrapper {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: 3fr 10fr;
}
.dialogs_wrapper {
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-bottom: 5px;
    &:hover {
      background-color: cadetblue;
      color: white;
    }
  }
  .active {
    background-color: cadetblue;
    color: white;
  }
}
.button {
  border: none;
  background-color: cadetblue;
  padding: 10px 10px;
  cursor: pointer;
  margin-top: 50px;
}
.input {
  border: none;
  outline: none;
  padding: 10px 10px;
  margin-top: 50px;
}